.participant-container {
  h2 {
    padding: 45px 10px 5px;
    color: #a7aab5;
  }

  .participant-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.participant {
  width: 25%;
  position: relative;

  .inner {
    margin: 10px;
    padding: 10px 12px;
    background: #50597b;
    border-radius: 5px;
  }

  .name {
    color: $white;
    font-size: 1.4rem;
  }

  .btn-close, .btn-block {
    color: $white;
    position: absolute;
    top: 26px;
    right: 18px;
    width: 26px;
    padding: 0;
    line-height: 22px;
    font-size: 0.8rem;
    border-color: #394263;

    &:hover {
      background-color: #e64c65; 
    }
  }

  .btn-block {
    right: 48px;
  }

  .badge-pill {
    position: absolute;
    top: -9px;
    right: 18px;
    padding-top: 2px;
  }
}

.different-group-list {
  span {
    color: #f9a5bc;
  }
  
  li {
    padding: 6px 5px;
  }

  .btn {
    padding: 0 4px;
    line-height: 16px;
    font-size: 0.8rem;
    margin-left: 10px;
  }
}

.edit-participant-container {
  background-color: #50597b;

  .inner {
    padding: 20px;
  }
}

.group-controls {
  padding-top: 60px;

  .wrap-btn-create {
    padding-top: 22px;
  }
}

.table-container {
  padding-top: 20px;
}

.table {
  .thead-dark {
    th {
      text-transform: uppercase;
      background-color: #1f253d;
    }
  }

  tbody {
    td {
      background-color: $white;
    }
  }
}

address {
  text-align: center;
  color: #a7aab5;
  margin: 20px 0;
}
